<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
  </head>
  <body>
    <div ng-app="demoApp" ng-controller="mainController">
      <form ng-submit="addUser()" >
        <input type="text" ng-model="newUser.firstName" placeholder="First name...">
        <input type="text" ng-model="newUser.lastName" placeholder="Last name...">
        <button type="submit">Add</button>
      </form>
      <div ng-repeat="user in users | sortByFirstName">
        <hello message="Hi"></hello>
      </div>
    </div>

    <script>
      var demoApp = angular.module("demoApp", []);

      demoApp.controller("mainController", function($scope, userService) {
        $scope.users = userService.users();
        $scope.newUser = {}
        $scope.addUser = function(){
          userService.add($scope.newUser);
          $scope.newUser = {}
        }
      });

      demoApp.directive("hello", function() {
        return {
          scope: false,
          link: function($scope, element, attrs){
            $scope.message = attrs.message;
          },
          template:  "<h1> {{[message, user.firstName, user.lastName].join(' ')}}!</h1>"
        };
      });

      demoApp.service('userService', function(){
        var collection = [
          {firstName: 'Philip', lastName: 'Zudemberg'},
          {firstName: 'Ebba', lastName: 'Aniansson'},
          {firstName: 'Kristoffer', lastName: 'Karlsson'},
          {firstName: 'Rodrigo', lastName: 'Munoz'},
        ];
        return {
          users: function(){
            return collection;
          },
          add: function(object){
            collection.push(object);
          }
        }
      });

      demoApp.filter('sortByFirstName', function () {
        return function (array) {
          function compare(a, b) {
            return a.firstName.localeCompare(b.firstName)
          }
          return array.sort(compare);
        }
      });

    </script>
  </body>
</html>
